
@{
    ViewData["Title"] = "Upload";
}

<h2>Upload</h2>

<form method="post" enctype="multipart/form-data" asp-controller="Documents" asp-action="Upload" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload a document:</p>
            <input type="file" name="file"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>